*,
::before,
::after {
    box-sizing: border-box;
}
html,
body {
    font-family: 'FreeSerif',Arial, sans-serif;
    font-size: 20px;
    line-height: 28px;
    color: black;

    overflow-x: hidden;
   }

   img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container{
    max-width: 1440px;
    margin: 0 auto;
}
